.why-list{

	&__container{
		row-gap: $spacer * 2;
	}

	&__item:hover &__icon-wrapper,
	&__item:focus &__icon-wrapper{
		background-color: $primary;
	}

	&__title{
		font-size: 1.2rem;
	}

	&__icon-wrapper{
		position: relative;
		min-width: 5rem;
		height: 5rem;
		background-color: $third;
		transition: all .35s;	
	}

	&__icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $secondary;
		font-size: 1.5em;
	}
}